#recommended-portals-list,
#connectionsList,
#createConnectionSelectPortal,
#createConnectionResults,
#mfLocationsResults {
    li {
        &:hover {
            background-color: rgba(63, 169, 0,0.3);

            .mf-list__element--primary {
                    text-decoration: underline;
            }
        }
    }
} 