p {
	@include mf-font-preset(normal-breathable);
	@include mf-inner-grid();
	margin-bottom: $mf-buffer__large;

	& + p {
		margin-top: -12px;
	}

	a {
		text-decoration: underline;
	}

	&.no-margin-bottom {
		margin-bottom: 0;
	}

	&.small-text {
		font-size: 14px;
	}
	&.mf-pending-space {
		margin-bottom: 32px;
	}

	&.validating-creds-text {
		font-size: 12px;
		color: $mf-color__gray--accessible;
		text-align: right;
		margin-top: -24px;
	}

	&.privacy-statement {
		color: $gl-color__dark-gray;
		margin-top: -30px;
		margin-left: $mf-buffer__large;

		@media (min-width: map-get($mf-breakpoints, medium)) {
			margin-left: $mf-buffer__medium;
		}
	}

	&.semibold {
		font-weight: 600;
	}

	&.mf-single-line {
		padding: 0px 0px $mf-buffer__large 0px;
		display: inline;
	}
}

@media (min-width: map-get($mf-breakpoints, medium)) {
  p {
    @include mf-inner-grid();
	margin-bottom: $mf-buffer__xl;

	& + p {
		margin-top: -20px;
	}
  }
}
