#create-find-by-id--container {
    .recommended-portals-displayed {
        h1 {
            margin-bottom: 0;
        }
    }
}

#recommended-portals--container {
    margin-bottom: 24px;
}

#recommended-portals--header {
    margin-bottom: 15px;
}

#select-search-options--container {
    h2 {
        font-size: 16px;
    }
}

.no-border{
    border-top: none
}

.bottom-border{
    border-bottom: 1px solid #cccccc;
}

.div-margin-top{
    margin-top: 24px;
}

.create-find-by-id--header h1{
    font-weight: 600;
}
.create-connection-enter-credentials h1{
    font-weight: 600;
}

.mf-list-header{
    font-weight: 500 !important;
}

.create-connection-enter-credentials h3{
    font-weight: 500;
}

.name-text{
    text-transform: capitalize;
}

.name-text-bold{
    font-weight: 600;
}

.reset-psw-container{
    text-align: center;
    margin: 45px 10px 10px 10px;
}

.pointer-cursor{
    cursor: pointer;
}
.small-fontsize{
    font-size: 12px;
}